body, html {
    height: 100%;
}

.login-container {
    background-image: url("wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.credits {
    text-align: center;
    color: white;
    text-shadow: black 1px 1px;
}

.dashboard-container{
    background-image: url("wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-md-6.white {
    color: white;
    text-shadow: black 1px 1px;
}

.jumbotron.trasparent {
    background: rgba(247, 247, 247, 0.6)
}

#react-app{
    background-color:black;
    height: 100%;
}